 
<div class="container mt-4" style="margin-bottom: 10%;">
    {{> _csm}}

 <div class=" card card-body  ml-auto bg-dark">
 

<div class="container">
    

    <div class="col">
       
<button type="button" class="btn btn-primary" onclick="toggleForm();" style="margin-right: 20%;">order to purchaser</button>
   

  <button type="button"style= class="btn btn-primary" onclick="toggleForm2();">order to cars</button>
  
    </div>
</div>

<div id= "form2" style="background-color: gray; display: none; margin-top: 5%">
   
<div class="active-pink-3 active-pink-4 mb-4">
  <input class="form-control" type="text" placeholder="Number of Cars" aria-label="Number of Cars">
</div>

<div class="active-purple-3 active-purple-4 mb-4">
  <input class="form-control" type="text" placeholder="Destination place" aria-label="Destination place">
</div>

<div class="active-cyan-3 active-cyan-4 mb-4">
  <input class="form-control" type="text" placeholder="Arrival Time" aria-label="Arrival Time">
</div>


<div class="active-pink-4 mb-4">
  <input class="form-control" type="text" placeholder="Destination Time" aria-label="Destination Time">
</div>
<div class="col">
       
<button type="button" class="btn btn-primary">order</button>
 </div>
    </div>
   
    
<div id= "form" style="display: none; margin-top: 5%">
   
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.row{
border-spacing: 10px;
}
.col{
  border-spacing: 10px;
  bo
}
</style>
</head>
<body>
  <div>
    <h3 class="orders" style="margin: 60px; color:blank; font-size:40px">Orders</h3>
  </div>
<div class="row" style="margin: 40px;">

<div class="col">   
        {{#each requested_items}}
        <div class="row">
          <div>
            <img src="{{imageSource}}" style="height: 120px; width:150px">
            </div>
            <div class="col">
            <div>
            <h4  style="font-size: 20px;color:black;">{{name}}</h4>
        </div>
        
          <div>
            <p style="font-size: 20px;color:black; ">{{amount}}</p>    
          </div>

          </div>

        </div>
        {{/each}}
  </div>
       
<button type="button" class="btn btn-primary">order</button>
 </div>
    </div>
   
    



<script type="text/javascript">
   function toggleForm(){
      var divelement = document.getElementById("form");
       var divelement2 = document.getElementById("form2");
      if(divelement.style.display == 'none'){
         divelement2.style.display = 'none';
         divelement.style.display = 'block';
      }
   }

   function toggleForm2(){
      var divelement = document.getElementById("form2");
       var divelement1 = document.getElementById("form");
      if(divelement.style.display == 'none'){
         divelement1.style.display = 'none';
         divelement.style.display = 'block';
      }
   }
</script>
        </div>
 </div>
    </div>
   
    </div>
  </div>

</div>

