  <div class="row mt-5">
      
    <div class="col-md-4 mt-5">
        <div><a href="/reportsfromcashier" type="button" role="button"class="btn btn-dark btn-lg btn-block mb-4 mt-5">Reports From Cashier</a></div>
        <div><a href="/order" type="button" role="button" class="btn btn-dark btn-lg  btn-block mb-4">Orders</a></div>
        <div><a href="/sendorders" type="button" role="button" class="btn btn-dark btn-lg  btn-block mb-4">Send Orders</a></div>
        <div><a href="/register" type="button" role="button" class="btn btn-dark btn-lg btn-block">Register</a></div>
    </div>
     
    <div class=" card card-body  col-md-8 ml-auto bg-dark mt-5">
   
    <div class="row">
  


