
  <div class="row mt-5">
      
    <div class="col-md-4 mt-5">
        <div><a href="/registor" type="button" role="button"class="btn btn-dark btn-lg btn-block mb-4 mt-5">Registraion</a></div>
       
        <div><a href="/order" type="button" role="button" class="btn btn-dark btn-lg  btn-block mb-4">Orders</a></div>
        <div><a href="/checkreport" type="button" role="button" class="btn btn-dark btn-lg btn-block">CheckReport</a></div>
    </div>
 
    <div class=" card card-body  col-md-8 ml-auto bg-dark mt-5">
<div class="row">
    

 

  



