<footer class="container-fluid bg-dark">
    <div class="row py-3" style="color: aliceblue;">
        <!-- phone number -->
        <div class="col">
            <div class="row">
                <div class="col col-lg-3 col-md-3">
                    <img src="/img/Carousel images/call.png" style="max-height:80px; max-width:80px;">
                </div>
                <div class = "col col-lg-9 col-md-9 ">
                    <h4 >+251934445678</h4>
                    <h4>+251934445678</h4>
                    <h4>+251934445678</h4>
                </div>
            </div>
        </div>
        <!-- Location -->

        <div class="col">
            <div class="row">
                <div class="col col-lg-3 col-md-3">
                    <img src="/img/Carousel images/location.png" style="max-height:80px; max-width:80px;">
                </div>
                <div class = "col col-lg-9 col-md-9">
                    <h4>Bole,Addis Ababa</h4>
                    <h4>Mexico, Addis Ababa</h4>
                    <h4>4Kilo, Addis Ababa</h4>
                </div>
            </div>
        </div>
        <!-- Working Time -->
        <div class="col">
            <div class="row">
                <div class="col col-lg-3 col-md-3">
                    <img src="/img/Carousel images/clock.png" style="max-height:80px; max-width:80px;">
                </div>
                <div class = "col col-lg-9 col-md-9">
                    <h3>Open Monday-Sunday</h3>
                    <p>2:00 AM - 5:00 PM LT<p>
                </div>
            </div>
        </div>

    </div>
</footer>