<div class="modal" id="ManageEmployee">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Change Password</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                {{#each employees}}
                                <div class="card card-body mb-1">
                                    <form action="/ManageAccout/:userName" method="POST">
                                    <h4>{{fullName}}</h4>
                                    <h6>{{station}}</h6>
                                    <h6>{{type}}</h6>
                                     <button type="submit" class="btn btn-danger btn-block">Delete</button>
                                    </form>
                                </div>
                                {{else}}
                                <p>No Employees Hired!!!</p>
                                {{/each}}
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>


                        </div>
                    </div>
                </div>