<head>
  
</head>
<!-- Default form contact -->
<div class="row">
<div class="col">
<div class="container mt-4" style="margin: 1px;; width: 100%; height:700px;">
  
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Upload Item</p>

    <!-- Name -->
    <input type="text" id="ItemName" class="form-control mb-4" placeholder="Name of the item">

    <!-- Email -->
    <input type="text" id="ItemAmount" class="form-control mb-4" placeholder="Amount">

    <!-- Subject -->
    <label>Measured in</label>
    <select class="browser-default custom-select mb-4">
        <option value="" disabled>Choose option</option>
        <option value="1" selected>Killograms</option>
        <option value="2">Liters</option>
    
    </select>



    <!-- Send button -->
    <div class="row">
      <div class="col">
    <button class="btn btn-info btn-block" type="submit">Upload</button>
    </div>
    <div class="col">
      <div><a href="/viewItems" type="button" role="button" class="btn btn-info btn-block">See Uploaded items</a></div>
    
    </div></div>
</form>
</div></div>


</div>
<!-- Default form contact -->