 
<div class="container mt-4">
 
  <div class="row mt-5">
      
    <div class="col-md-4 mt-5">
        <div><a href="/registor" type="button" role="button"class="btn btn-dark btn-lg btn-block mb-4 mt-5">Registraion</a></div>
       
        <div><a href="/order" type="button" role="button" class="btn btn-dark btn-lg  btn-block mb-4">Orders</a></div>
        <div><a href="/checkreport" type="button" role="button" class="btn btn-dark btn-lg btn-block">CheckReport</a></div>
    </div>
     
    <div class=" card card-body  col-md-8 ml-auto bg-dark mt-5">
<div class="row">
<div class="dropdown col-sm-8">
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Branch Name
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Megnaga</a>
    <a class="dropdown-item" href="#">Stadium</a>
    <a class="dropdown-item" href="#">Kality</a>
  </div>
</div>
</div>  
<div class="col-sm-4 ml-auto" >
     <button class="btn btn-default btn-light btn-sm" type="button" >Reported Date
 </button></div>
 
 <div class=" card card-body  ml-auto bg-dark">

     <!-- adding the tables -->
   <p class="bg-light"> Henry VIII amassed a large arsenal of sakers in the early 16th century as he expanded the Royal Navy and came into conflict with France. Henry's foundries used so much bronze that there was a world shortage of tin. According to the inventory in the Anthony Roll, the Mary Rose carried several sakers, though none have been found so far and may have been recovered by salvagers soon after the disaster.[7] Sakers were heavily used during the English Civil War,[8] especially during sieges, when they were used by both attackers and defenders of fortified towns.[9] They also saw action in the Jacobite rising of 1689 and were used by the armies of both William III and James II at the Battle of the Boyne.[10] </p>
  <!--tables added -->
        </div>
 </div>
    </div>
   
    </div>
  </div>

</div>

