<head>

</head>
<div class="container mt-4"  style="padding-left: 250px;">
    <div class=" card card-body  col-md-8 bg-dark mt-5">
<form>
    <h3 class="text-center" style="color:cornflowerblue">Create Account</h3>
 <br>
      <div class="form-group row">
 
    <div class="col-sm-10">
      <input type="text" class="form-control" style="margin-left: 10px; background-color:lightgray; font-size: 20px; text-align: center;" id="inputName" placeholder="Full Name">
    </div>
  </div>
        <div class="form-group row">
  
    <div class="col-sm-10">
      <input type="text" class="form-control" style="margin-left: 10px; background-color:lightgray; font-size: 20px; text-align: center; "  id="inputPhone" placeholder="Phone Number">
    </div>
  </div>
  <div class="form-group row">
  
    <div class="col-sm-10">
      <input type="email" class="form-control" style="margin-left: 10px; background-color:lightgray; font-size: 20px; text-align: center;" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
   
    <div class="col-sm-10">
      <input type="password" class="form-control" style="margin-left: 10px; background-color:lightgray; font-size: 20px; text-align: center;" style="" id="inputPassword" placeholder="Password">
    </div>
    
  </div>
    <div class="form-group row">
   
    <div class="col-sm-10">
      <input type="password" class="form-control" style="margin-left: 10px; background-color:lightgray; font-size: 20px; text-align: center;" style="" id="inputPassword" placeholder="Password">
    </div>
    
  </div>
  <fieldset class="form-group">
    <div class="row">
    
      <div class="col-sm-10, text-center, margin-right: 40rem" style="padding-left: 80px;">
        <div class="form-check">
          <input class="form-check-input, " type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" style="color: cornsilk; font-size: 20px;" for="gridRadios1">Delivery agent</label>
        </div>
        <div class="form-check">
          <input class="form-check-input, " type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" style="color: cornsilk; font-size: 20px;"  for="gridRadios2">Cook</label>
        </div>
        <div class="form-check">
          <input class="form-check-input," type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" style="color: cornsilk; font-size: 20px;"  for="gridRadios2">Cashier </label>
        </div>
  
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
   
    <div class="col-sm-10">
      <div class="form-check">
         <div class="row">
        <input class="form-check-input, text-center" type="checkbox" id="gridCheck1" style="height: 20px;">
       
        <label class="form-check-label, text-white-50"  for="gridCheck1" style="font-size: 10px;">
          I agree the terms of use and undersand tha my <br>
           infotmation will be used as described. 
        </label>
      </div>
    </div> </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-flat btn-md btn-outline-primary">Create</button>
    </div>
  </div>
  </div>
</form>
</div></div>