<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.row{
border-spacing: 10px;
}
.col{
  border-spacing: 10px;
  bo
}
</style>
</head>
<body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<div class="container">
  <div class="row">
    <div class="col text-center" style="margin: 40px; color:blank; font-size:20px">
     
 
<div class="row" style="margin: 40px;">
    
    <div class="class="btn-group-vertical" >
      <div class="box-2">
        <a href="#" class="btn btn-light" role="buton">Location</a>
        <br>
        <br>
        <a href="#" class="btn btn-light" role="buton">Number of Cars</a>
        <br>
        <br>
        <a href="#" class="btn btn-light" role="buton">Delivery Time</a>
        <br>
        <br>
        <a href="#" class="btn btn-secondary" role="buton">Request Car</a>
      </div>
    </div>




    <div class="col">
     
</div>

</body>

   </div>
  </div>
</div>

