<style>
    body {
        background: url('/img/login/background3.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    .bg {
        background-color: #373E44;
    }
    .background{
        color:aliceblue !important; 
    }
</style>
<div class="row background  p-5">
    <div class="col col-sm-4 col-md-4 col-lg-4">
        <img src="img/HomePage View/view1.jpg" class="rounded-circle " style="height: 300px; width:300px" alt="view1">
        <h4 class="mt-3">Real, Balanced Ingredients that taste great</h4>
    </div>
    <div class="col col-sm-4 col-md-4 col-lg-4">
        <img src="img/HomePage View/view2.jpg" class="rounded-circle " style="height: 300px; width:300px" alt="view1">
        <h4 class="mt-3">Make it yours with whole food boosts</h4>
    </div>
    <div class="col col-sm-4 col-md-4 col-lg-4">
        <img src="img/HomePage View/view3.png" class="rounded-circle " style="height: 300px; width:300px" alt="view1">
        <h4 class="mt-3">Fresh-squeezed Juices</h4>
    </div>
</div>