<form method="POST" action="">
    <div class="mt-5 px-3">
        <h3>If you've got any queries or concerns, please drop us a line and we'll get back to ykou in the quickest time
            imaginable!</h3>
    </div>
    <div class="row px-3">
        <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
    </div>
    <div class="row px-3">
        <div class="col col-sm-6 col-md-6 col-lg-6">
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="6"></textarea>
            <br>
        </div>
    </div>
    <div class="row mb-5 px-3">
        <div class="col col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-primary pull-right" type="submit">Comment</button>
            <br>
        </div>
    </div>
</form>