<style>
   body {
  background: url('/img/login/background3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
  .bg{
    background-color: #373E44;
  }
</style>

<div class="row backgroud">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-8 ">
        <br><br><br>
        <div class = "ml-4">
        <h1 style="font-size:80px; color:#fff">Get You Delivery</h1>
        <h1 style="font-size:80px; align-content:center;color: #fff;" class="ml-auto">Fast</h1>         
        </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 mt-4">
        <div class="jumbotron text-center bg mt-4 mr-4">
              {{#if error}}
              <div class="alert alert-danger">{{error}}</div>
              {{/if}}
                <img src="/img/login/login.png" height="50px">
                <h1 >Login</h1><br>
         
          <form  action = "/login" method="post">
    <div class="form-group">
      <input type="email"  name="email" class="form-control" id="email" placeholder="User Name" value={{email}}>
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-control" id="password" placeholder="Password" value="{{pasword}}">
    </div>
    
    
      <button type="button" class="btn btn-link" href = "#">Forget password?</button>
     <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <p style="color :#fff">Sign in using  <a class="btn btn-link"  href = "/auth/google">GoogleAccount</a></p>
  <p style="color :#fff">Creat an account? <button class="btn btn-link" data-toggle="modal" data-target="#Signup">Signup</button></p>
      {{> _signup}}
    </div>
</div>
</div>