<!--you got write the code here in order to render it when the button is cliked-->

<div class="jumbotron p-0 m-0">


    <!-- Card content -->
    <div class="card-body carousel-caption" style="top:37%;">

        <!-- Title -->
        
        
                

        <div class="row justify-content-center">
            <div class="col-md-offset-5 col-md-4">
                  <h4 style="color: black;">Upload Order</h4>  
                    
                <form method="post" enctype="multipart/form-data" runat="server">
                   

                    <div class="form-login">
                        
                        
                        <input type="text" class="form-control input-sm chat-input" placeholder="Insert the order's name" />
                      
                        <br>
                        <textarea class="form-control input-sm chat-input" placeholder="Insert the order's description" > </textarea>
                      
                        <br>
                        <input type="file" asp-for="ImageFile" class="form-control input-sm chat-input" placeholder="Insert your image file" accept="image/*" onchange="readURL(event)"/>
                        <span class="error"></span>
                        <br>
                        <img id="output" class="thumbnail"/>
                        <script>
                            var readURL = function(event){
                                var output = document.getElementById('output');
                                output.src=URL.createObjectURL(event.target.files[0]);
                            };
                        </script>

                        <div class="wrapper">
                            <span class="group-btn">

                                <button class="btn btn-primary btn-md round" runat="server" style="margin-top:5%;"> Submit <i class="fa fa-upload"></i></button>
                            </span>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>