<div class="container mt-4"></div>
    <h6>if you have any qureries or concerns, please drop down us a line and we will get back to you in the quickest time imaginable! </h6>
    <form>
         <div class=" container form-group">
                                        <label for="name">Location</label>
                                        <input type="text" class="form-control" id="name"
                                            placeholder="name">
        
          
            <button type="submit" class="btn btn-success">Add to cart</button>

           
        
    </form>



</div>
